@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('sai-i-lama-parallax-01.jpg') no-repeat;
}

.container {
    position: relative;
    width: 100%;
    max-width: 400px;
    background-color: #1f2847;
    padding: 30px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.timer {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.timer .progress {
    position: relative;
    width: 100%;
    height: 40px;
    background-color: transparent;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 10px;
    border: 3px solid #3f4868;
}

.timer .progress .progress-bar {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    overflow: hidden;
    background: linear-gradient(to right, #ea517c, #b478f1);
}

.timer .progress .progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}


.quiz-box {
    color: #a2aace;
    font-size: 25px;
    font-weight: 200;
    margin-bottom: 20px;
}

.quiz-box p {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

.quiz-box .answer-wrapper .form-check {
    width: 100%;
    height: 60px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    color: #b32d2d;
    border: 3px solid #3f4868;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.3s linear;
}