{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<title>
        Quiz App - {% block title %}{% endblock %}
    </title>

	<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
	<link rel="icon" href="/static/assets/img/icon.ico" type="image/x-icon"/>
	<!-- Fonts and icons -->

	<!-- CSS Files <link rel="stylesheet" href="/static/assets/css/quiz.css">-->
	<link rel="stylesheet" type="text/css" media="all" href="{% static 'assets/css/quiz.css' %}">
	
    <!-- Specific Page CSS goes HERE  -->
    {% block stylesheets %}{% endblock stylesheets %}

</head>
<body>

			
			{% block content %}
			
			
			{% endblock %}


			<!--{% include 'includes/footer.html' %}-->

			

		
        
     
    {% block javascripts %}{% endblock javascripts %}
	
</body>
</html>