{% extends "layouts/base.html" %}

{% block title %}  Quiz{% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}


{% block content %}



    <div id="app">
        <div class="container mt-5 pt-5">
            <div class="col-md-6 mx-auto">

                <div v-for="question in questions" :key="question.id">
                    <hr>

                <p>[[question.question]]</p>
                <div class="form-check" v-for="answer in question.answers">
                    <input @change="checkAnswer($event, question.uid)" value="[[answer.answer]]" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                      [[answer.answer]]
                    </label>

                </div>
                <hr>
                        
                </div>
            </div>
        </div>
    </div>


    {% if current_question %}
    <h2>Question {{ current_question_index + 1 }}</h2>
    <p>{{ current_question.question_text }}</p>
    <!-- Ajoutez ici les éléments pour la réponse à la question -->
    {% else %}
        <p>Il n'y a plus de questions.</p>
    {% endif %}
    {% endblock content %}
    
    
    <form method="post" action="{% url 'quiz' %}">
        {% csrf_token %}
        <input type="hidden" name="category" value="{{ category }}">
        <input type="hidden" name="current_question_index" value="{{ current_question_index + 1 }}">
        <button type="submit">Suivant</button>
    </form>
   


{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>


    


<!--<script>
//============================================================================================================================
// Récupérer les données du quiz au format JSON
        fetch('/get_quiz/')
        .then(response => response.json())
        .then(data => {
            // Stocker les questions dans une variable
            const questions = data.data;
            let currentQuestionIndex = 0; // Indice de la question actuelle

            // Fonction pour afficher la question suivante
            function afficherQuestionSuivante() {
            if (currentQuestionIndex < questions.length) {
                const question = questions[currentQuestionIndex];
                // Afficher la question dans votre interface
                // ...
                currentQuestionIndex++; // Passer à la question suivante
            } else {
                // Toutes les questions ont été affichées
                // Faire quelque chose quand le quiz est terminé
                // ...
            }
            }

            // Écouter l'événement du bouton "suivant"
            const boutonSuivant = document.getElementById('bouton-suivant');
            boutonSuivant.addEventListener('click', afficherQuestionSuivante);
        })
        .catch(error => {
            console.error('Une erreur s\'est produite lors de la récupération des données du quiz:', error);
        });
</script>-->
<script>
        var app = new Vue({
    
            el: '#app',
            delimiters: ['[[', ']]'],
            data() {
                return {
                    category : '{{category}}',
                    questions : [],
                    currentQuestionIndex: 0,
                    message: '' // Ajoutez cette ligne
                }
            },


            computed: {
                currentQuestionNumber() {
                    return this.currentQuestionIndex + 1;
                },
            },
            methods: {
        // ...
                getQuestions() {
                        var _this = this;
                        return fetch(`/api/get-quiz/?category=${this.category}`)
                            .then(response => response.json())
                            .then(result => {
                                console.log(result);
                                _this.questions = result.data;
                            });
                },
                checkAnswer(event, uid) {
                    this.questions.map(question =>{
                        answers = question.answers
                        for(var i=0; i < answers.length; i++){
    
                            console.log()
                            if(answers[i].answer == event.target.value){
                                if(answers[i].is_correct){
                                    console.log('reponse juste')
                                    alert('hurrrr correcte')
                                }else{
                                    console.log('reponse fausse')
                                }
                            }
                        }
                    });
    
                    console.log(event.target.value, uid)
                },
                getCurrentQuestionNumber() {
                    return this.currentQuestionIndex + 1;
                }
    
    },
           //methods : {
               // getQuestions(){
              //      var _this = this
                  //  fetch(`/api/get-quiz/?category=${this.category}`)
                    //.then(response => response.json())
                    //.then(result => {
                        //console.log(result)
                        //_this.questions = result.data
                    //})

                    
              //  },

                
    
                
            
            created() {
                this.getQuestions();
            }
    
    
                });


                
    
        </script>
	<!--<script src="/static/assets/js/question.js"></script>
	<script src="/static/assets/js/script.js"></script>-->

{% endblock javascripts %}