{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.cinetpay.com/seamless/main.js"></script>
    <title>QUIZZ SAÏ I LAMA</title>
    <link rel="stylesheet" href="{% static 'assets/css/error.css' %}">

    <script>
        function checkout() {
            CinetPay.setConfig({
                apikey: '5337111116358eef42b6448.37599996',//   YOUR APIKEY
                site_id: '301005',//YOUR_SITE_ID
                notify_url: 'http://mondomaine.com/notify/',
                mode: 'PRODUCTION'
            });
            CinetPay.getCheckout({
                transaction_id: Math.floor(Math.random() * 100000000).toString(),
                amount: 3000,
                currency: 'XAF',
                channels: 'ALL',
                description: 'Test de paiement',   
                 //Fournir ces variables pour le paiements par carte bancaire
                customer_name:"Joe",//Le nom du client
                customer_surname:"Down",//Le prenom du client
                customer_email: "down@test.com",//l'email du client
                customer_phone_number: "088767611",//l'email du client
                customer_address : "BP 0024",//addresse du client
                customer_city: "Antananarivo",// La ville du client
                customer_country : "CM",// le code ISO du pays
                customer_state : "CM",// le code ISO l'état
                customer_zip_code : "06510", // code postal

            });
            CinetPay.waitResponse(function(data) {
                if (data.status == "REFUSED") {
                    alert("Erreur de transaction ou solde insuffisant");
                        window.location.reload();
                    
                } else if (data.status == "ACCEPTED") {
                    alert("Votre paiement a été effectué avec succès");
                        window.location.href = "quiz.html";
                    
                }
            });
            CinetPay.onError(function(data) {
                console.log(data);
            });
        }
    </script>

</head>
<body>
    <main class="main">
          
        <header class="header">
            <h1>
                <div class="col-xs-12">
                    <div id="logo">
                        <a>
                            <img class="normal_logo" src="{% static 'assets/img/PRÉSENTATION 4G1.png' %}" alt="image"
                                                title="" style="max-height:90px;"/> 
                        </a>
                    </div>
                </div>
            </h1>
            
        </header>
           <div class="container">
           
            <section class="home">
                <div class="home-content">
                    <h1>ERREUR</h1>
                    <p>Vous ne pouvez pas continuer, l'érreur que vous rencontrez peut concerner ces possibilités:</p>
                    
                    <p>  1. Vos informations n'ont pas été remplies correctement. Entrez votre numéro de téléphone sous cette forme: "6 xx xx xx xx" et votre date de naissance sous cette forme: AAAA-MM-JJ</p>
                    <p>  2. Vous avez déja passez le test, desormais vous ne pouvez que payer pour recommencer <a onclick="checkout()" style="color: blue; text-decoration: underline;"> Paiement</a></p>
                    <p>  3. Si vous ne vous identifier à aucune de ces propositions veuillez nous contactez: <a href="#" style="color: rgb(230, 14, 104); text-decoration: underline;">saÏ i lama</a></p>
                    
                    <div class="btn-group">
                        <a href="{% url 'index' %}" class="info-btn exit-btn">Retour</a>
                        <a href="{% url 'signup' %}" class="info-btn continue-btn">Réesayer</a>
                    </div>
                </div>
            </section>
           </div>
        
    </main>       
</body>
</html>