{% extends "layouts/base.html" %}
{% load static %}

{% block title %}  Quiz {% endblock %} 

<!-- Specific Page CSS goes HERE-->
{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" media="all" href="{% static 'assets/css/quiz.css' %}">
{% endblock stylesheets %}


{% block content %}
  <div id="app">
    <main class="main">
      <div class="container">
        <section class="quiz-section">
         <!--<div class="timer">
            <div class="progress">
              <div class="progress-bar">
                <span class="progress-text">temps</span>
                <span class="progress-text"><p>Score total: {{ score }}</p></span>
              </div>
            </div>
            <div class="time_text">Time</div>
            <div class="timer_sec">15</div>
          </div>-->
          <div class="quiz-box">
            <h1>sai lama quiz</h1>
            
            <!--==================== QUIZ HEADER ==============-->
            <div class="quiz-header">
              <div class="timer">
                <div class="time_text">Time</div>
                <div class="timer_sec">15</div>
              </div> 
            
              <span class="head-score">Score: 0/10</span>
            <div class="time_line"></div>
            </div>
            <template v-if="currentQuestion">
              <h2 class="question-text">[[currentQuestion.question]]</h2>
              <div class="answer-wrapper">
                <div class="form-check" v-for="answer in currentQuestion.answers" @click="checkAnswer($event, currentQuestion.uid, answer.answer)" :id="answer.id">
                  [[answer.answer]]
                </div>
              </div>
              <div class="quiz-footer">
                <span class="question-total"></span>
                <button @click="nextQuestion" class="next-btn">Suivant</button>
              </div>
              
            </template>
          </div>
          <div class="result-box">
            <h2>Résultat du test!</h2>
            <div class="percentage-container">
                <div class="cicular-progress">
                    <span class="progress-value">0%</span>
                </div>
    
                <span class="score-text">Votre score est de {{ userScore }} sur 10</span>
               
            </div>
    
              <div class="buttons">
                <a href="{% url 'paiement' %}"><button class="TryAgain-btn">Réessayer</button></a>
                <a href="{% url 'index' %}"><button class="goHome-btn">Acceuil</button></a>
              </div>
            </div>
        </section>
      </div>
    </main>
  </div>
      
  {% endblock %}
    
    
    
   


    {% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
     
      const quizBox = document.querySelector('.quiz-box');
      const nextBtn = document.querySelector('.next-btn');
var app = new Vue({
      el: '#app',
      delimiters: ['[[', ']]'],
      data() {  
        return {
          category: '{{category}}',
          questions: [],
          currentQuestion: null,
          userScore: 0,
        };
      },
      methods: {
        getQuestions() {
            var _this = this;
            quizBox.classList.add('active');
            return fetch(`/api/get-quiz/?category=${this.category}`)
                .then(response => response.json())
                .then(result => {
                console.log(result);
                _this.questions = result.data.slice(0, 10);
                if (_this.questions.length > 0) {
                    _this.currentQuestion = _this.questions[0];
                }
                });
            },
        
        headerScore() {
          const headerScoreText = document.querySelector('.head-score');
          headerScoreText.textContent = `Score: ${this.userScore} / ${this.questions.length}`;
        },
        
        checkAnswer(event, uid) {
          let answerChecked = false;
          this.questions.forEach(question => {
            
            const answers = this.currentQuestion.answers

            if (!answerChecked){
             
              for(let i=0;i < answers.length ; i++) {
                
                
              
                if (answers[i].answer === event.target.innerText) {
                  
                  if (answers[i].is_correct) {
                    
                    console.log('reponse juste');
                    this.userScore += 1;
                    this.headerScore();
                
                    
                  } else {
                    console.log('reponse fausse');
                    
                  }
                  answerChecked = true;
                  break;
                }
                
                
                //console.log('desactivons');
                
            }
        }
          //if (question.uid !== uid) {
            //question.disabled = true;
            //console.log('desactiver');
          //}
          });
          
        },
        showResultBox() {
          const resultBox = document.querySelector('.result-box');
          const quizBox = document.querySelector('.quiz-box');
          const TryAgain_quiz = document.querySelector('.TryAgain-btn');
          if (!quizBox) {
            console.error('Element .quiz-box introuvable')
            return;
          }
          quizBox.classList.remove('active');
          resultBox.classList.add('active');

          const score_text = document.querySelector('.score-text');
          //score_text.textContent = `Votre score est de ${this.userScore} sur ${this.questions.length}`;
          if(this.userScore > 4 ){
            score_text.textContent = `Félicitation 👍 , vous avez réussi le test, votre score est de ${this.userScore} sur ${this.questions.length}`;
          }else{
             score_text.textContent =  `Malheureusement  👎 , vous n'avez pas réussi le test, votre score est de ${this.userScore} sur ${this.questions.length}`;
             TryAgain_quiz.style.display = "block";
         }

          //if(this.userScore < 5){TryAgain.classList.add('active');}else{TryAgain.classList.remove('active');}



          const circularProgress = document.querySelector('.cicular-progress');
          const progressValue = document.querySelector('.progress-value');

          let progressStartValue = -1;
          let progressEndValue = (this.userScore / this.questions.length) * 100;
          let speed = 20;

          let progress = setInterval(() => {
              progressStartValue++;
              //console.log(progressStartValue);
              progressValue.textContent = `${progressStartValue}%`;
              circularProgress.style.background = `conic-gradient(#c40094 ${progressStartValue * 3.6}deg, rgba(255, 255, 255, .1) 0deg)`;


              if (progressStartValue == progressEndValue) {

                  clearInterval(progress);

              }

          }, speed);
          
        },
        nextQuestion() {
            const currentIndex = this.questions.indexOf(this.currentQuestion);
            const nextIndex = currentIndex + 1;
            if (nextIndex < this.questions.length) {
            this.currentQuestion = this.questions[nextIndex];
            }
            else if (nextIndex === this.questions.length){
            this.showResultBox();
            console.log('dernière question')
            
            } else {
              console.error('Erreur : Index invalide');
            }
        },

        
      },
      created() {
        this.getQuestions();
      }
      
    });

  $.ajax({
    url: '/quiz/',
    method: 'GET',
    data: { userScore: this.userScore },
    success: function(response) {
      console.log('OK');
      
    },
    error: function(jqXHR, textStatus, errorThrown) {
      console.log('ERROR');
    }
  });
    </script>
  {% endblock javascripts %}
  <!--nextQuestion() {
    const currentIndex = this.questions.indexOf(this.currentQuestion);
    const nextIndex = currentIndex + 1;
    if (nextIndex < this.questions.length) {
    this.currentQuestion = this.questions[nextIndex];
    }
    else if (nextIndex === this.questions.length){
    this.showResultBox();
    console.log('dernière question')
    } else {
      console.error('Erreur : Index invalide');
    }
},



this.$nextTick(() => {
    const quizBox = document.querySelector('.quiz-box');
    const resultBox = document.querySelector('.result-box');
    quizBox.classList.remove('active');
    resultBox.classList.add('active');
  });-->
